/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */
 
 .reveal .slides {
  font-family: 'Abel';
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  line-height: 1.2;
  max-height: 50vh !important;
  background: #D3D3D3;
  opacity: 0.95;
  border-radius: 10px;
  font-size: 75% !important;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #1f1c18;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: black;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

.reveal a {
    color: #e7ad52;
}

.reveal a:hover {
    color: #f3d7ac;
}

.hljs {
  background : none;
}

.white {
  color: white;
}

#gp-logo img {
  max-height: 2em;
  max-width: none;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }